{{#if (gt 2 page)}}
<h1 class="text-center my-4">Welcome to your feed, {{user.name}}</h1>
{{/if}}

<div class="feed-container" id="feed-container"
  data-page="{{page}}" 
  data-limit="{{limit}}" 
  data-total-pages="{{totalPages}}">
  {{!-- Loop over posts --}}
  {{#each posts}}
    {{> postCard post=this currentUserId=../currentUserId}}
  {{/each}}
</div>

<!-- pagination UI (server can render numbers; JS will hook to them) -->
<nav id="pagination" aria-label="Page navigation" class="mt-3">
  {{!-- optional server-side page links; you can render numeric pages or Prev/Next --}}
  {{#if (gt totalPages 1)}}
    <ul class="pagination justify-content-center">
      {{#if (gt page 1)}}
        <li class="page-item"><a class="page-link" href="/feed?page={{subtract page 1}}">Previous</a></li>
      {{/if}}
      {{#if (gt totalPages 2)}}
        {{#each (range 1 totalPages)}}
          <li class="page-item"><a class="page-link {{#if (eq ../page this)}}active{{/if}}" href="/feed?page={{this}}">{{this}}</a></li>
        {{/each}}
      {{/if}}
      {{#if (lt page totalPages)}}
        <li class="page-item"><a class="page-link" href="/feed?page={{add page 1}}">Next</a></li>
      {{/if}}
    </ul>
  {{/if}}
</nav>