{{#if posts.length}}
  {{#if (gt 2 page)}}
    <h1 class="text-center my-4">Welcome to your feed, {{user.name}}</h1>
  {{/if}}
{{/if}}

<div class="feed-container" id="feed-container"
  data-page="{{page}}" 
  data-limit="{{limit}}" 
  data-total-pages="{{totalPages}}">
  {{#if posts.length}}
    {{#each posts}}
      {{> postCard post=this currentUserId=../user._id}}
    {{/each}}
  {{else}}
    <div class="feed-empty-message d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">
      <span class="display-4 fw-bold mb-3">No posts yet.</span>
      <span class="h4 text-muted">Be the first to post!</span>
    </div>
  {{/if}}
</div>

<!-- pagination UI (server can render numbers; JS will hook to them) -->
<nav id="pagination" aria-label="Page navigation" class="mt-3">
  {{!-- optional server-side page links; you can render numeric pages or Prev/Next --}}
  {{#if (gt totalPages 1)}}
    <ul class="pagination justify-content-center">
      {{#if (gt page 1)}}
        <li class="page-item"><a class="page-link" href="/feed?page={{subtract page 1}}">Previous</a></li>
      {{/if}}
      {{#if (gt totalPages 2)}}
        {{#each (range 1 totalPages)}}
          <li class="page-item"><a class="page-link {{#if (eq ../page this)}}active{{/if}}" href="/feed?page={{this}}">{{this}}</a></li>
        {{/each}}
      {{/if}}
      {{#if (lt page totalPages)}}
        <li class="page-item"><a class="page-link" href="/feed?page={{add page 1}}">Next</a></li>
      {{/if}}
    </ul>
  {{/if}}
</nav>